
<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../../module/header.ejs') %>
    <title><%- title %></title>
  </head>
  <body>
    <div class="main">
      <a class="link" href="http://ncov.mohw.go.kr/" title="코로나19 사이트로 이동" target="_blank">
        <p class="text">오늘 코로나19 확진자</p>
        <div class="div">
          <p class="title">확진자</p>
          <p class="data"><%- data.확진자 %></p>
        </div>
        <div class="div">
          <p class="title">국내발생</p>
          <p class="data"><%- data.국내발생 %></p>
        </div>
        <div class="div">
          <p class="title">해외유입</p>
          <p class="data"><%- data.해외유입 %></p>
        </div>
      </a>
    </div>
  </body>
</html>
